Repository toshimana/zoom_video_mover: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, rust-check, rust-test, rust-property-test, doc-link-check

rust-fmt:
  name: Rust Format
  entry: cargo
  language: system
  args:
  - fmt
  - --all
  - --

rust-clippy:
  name: Rust Clippy
  entry: cargo
  language: system
  args:
  - clippy
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  pass_filenames: false

rust-check:
  name: Rust Check
  entry: cargo
  language: system
  args:
  - check
  - --all-targets
  - --all-features
  pass_filenames: false

rust-test:
  name: Rust Unit Tests
  entry: cargo
  language: system
  args:
  - test
  - --lib
  pass_filenames: false

rust-property-test:
  name: Property Tests (Fast)
  entry: bash
  language: system
  args:
  - -c
  - "export PROPTEST_CASES=100\nexport PROPTEST_VERBOSE=1\nif [ -f tests/property_tests.rs ]; then\n  cargo test --test property_tests -- --nocapture\nelse\n  echo \"Property tests not found, skipping\"\nfi\n"
  pass_filenames: false

doc-link-check:
  name: Documentation Link Check
  entry: bash
  language: system
  args:
  - -c
  - "# Markdownファイル内のリンクチェック（簡易版）\nfind docs -name \"*.md\" -exec grep -l \"http\\|\\.md\" {} \\; | while read file; do\n  echo \"Checking links in $file\"\n  # 実際のリンクチェックは将来実装\ndone\n"
  pass_filenames: false

chore: Claude Code設定の更新 - tree/git rmコマンド権限追加
  .claude/settings.local.json
Due: none

docs: ISO 25010品質特性レビュードキュメントを追加
  docs/artifacts/testing/iso25010_quality_review.md
Due: doc-link-check

fix: ドキュメント参照パス不整合修正 + GUI自動テスト基盤導入
  .claude/settings.local.json
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  QUICKSTART.md
  src/components/crypto.rs
  src/gui.rs
  src/lib.rs
  src/services.rs
  src/services_impl.rs
  tests/gui_tests.rs
  tests/gui_tests/helpers.rs
  tests/gui_tests/screen_tests.rs
  tests/gui_tests/state_tests.rs
Due: rust-fmt, rust-clippy, rust-check, rust-test, rust-property-test, doc-link-check

docs: テスト観点図（4層DAG）を追加 - 82因子/7サブシステム/32構成要素
  docs/testing/test_viewpoint_diagram.dot
  docs/testing/test_viewpoint_diagram.md
  docs/testing/test_viewpoint_diagram.svg
Due: doc-link-check

feat: RecordingFileType enum導入 + CC/Timeline対応 + レート制限改善
  .claude/settings.local.json
  docs/requirements/project_features_detailed.md
  src/components/api.rs
  src/components/config.rs
  src/components/integration.rs
  src/errors.rs
  tests/integration_tests.rs
  tests/property_tests_extended.rs
Due: rust-fmt, rust-clippy, rust-check, rust-test, rust-property-test, doc-link-check

fix: GUIテストfeature有効化 + Clippy/未使用import警告解消
  Cargo.toml
  src/components/api.rs
  src/components/auth.rs
  src/components/config.rs
  src/components/crypto.rs
  src/components/download.rs
  src/components/integration.rs
  src/components/mod.rs
  src/components/recording.rs
  src/components/ui.rs
  src/gui.rs
  src/lib.rs
  src/services.rs
  src/services_impl.rs
  src/windows_console.rs
Due: rust-fmt, rust-clippy, rust-check, rust-test, rust-property-test

fix: SUMMARYファイルDL障害修正 + 診断ログ追加
  src/components/api.rs
  src/components/download.rs
  src/components/integration.rs
  src/services_impl.rs
Due: rust-fmt, rust-clippy, rust-check, rust-test, rust-property-test

fix: SUMMARY DL障害の根本原因特定のため通信ログ強化
  src/components/api.rs
  src/components/download.rs
  src/components/integration.rs
  src/services_impl.rs
Due: rust-fmt, rust-clippy, rust-check, rust-test, rust-property-test

chore: 一時ファイルを .gitignore に追加
  .gitignore
Due: none

chore: ローカル権限設定にcargo run許可を追加
  .claude/settings.local.json
Due: none

feat: Meeting Summary APIフォールバックでSUMMARYファイルDL障害を解決
  src/components/api.rs
  src/components/integration.rs
  src/lib.rs
  src/services_impl.rs
Due: rust-fmt, rust-clippy, rust-check, rust-test, rust-property-test

fix: Meeting Summary APIのIDをmeeting_id(数値)からUUIDに修正
  src/components/api.rs
  src/components/integration.rs
  src/services_impl.rs
Due: rust-fmt, rust-clippy, rust-check, rust-test, rust-property-test

docs: CLAUDE.mdにワークフロー設計・タスク管理・コア原則を追加
  CLAUDE.md
Due: doc-link-check

docs: CLAUDE.mdにタスク完了後の自動コミットルールを追加
  CLAUDE.md
Due: doc-link-check

docs: プロジェクトアーキテクチャをGUI専用に更新
  README.md
  docs/policies/rust_development.md
  docs/requirements/rdra_analysis_models.md
  docs/requirements/system_requirements.md
  docs/requirements/traceability_matrix.md
  docs/user_manual.md
Due: doc-link-check

refactor: setup_gui_appearance()をguiモジュールに抽出
  src/gui.rs
  src/main.rs
Due: rust-fmt, rust-clippy, rust-check, rust-test, rust-property-test

feat: wgpuヘッドレススクリーンショットテストを追加
  tests/gui_tests.rs
  tests/gui_tests/screenshot.rs
  tests/gui_tests/screenshot_tests.rs
Due: rust-fmt, rust-clippy, rust-check, rust-test, rust-property-test

chore: スクリーンショットテスト用依存関係と設定を追加
  .claude/settings.local.json
  .gitignore
  Cargo.lock
  Cargo.toml
Due: none

fix: GUIデザイン崩れを修正（エラー画面溢れ・入力幅・ボタンサイズ）
  src/gui.rs
Due: rust-fmt, rust-clippy, rust-check, rust-test, rust-property-test

feat: GUIモダンデザイン化（カード・カラーパレット・ピル型タブ）
  src/gui.rs
Due: rust-fmt, rust-clippy, rust-check, rust-test, rust-property-test

fix: 録画検索で期間内の動画が表示されない問題を修正
  src/services_impl.rs
Due: rust-fmt, rust-clippy, rust-check, rust-test, rust-property-test

style: cargo fmtによるコードフォーマット統一
  build.rs
  src/components/api.rs
  src/components/auth.rs
  src/components/config.rs
  src/components/crypto.rs
  src/components/download.rs
  src/components/integration.rs
  src/components/mod.rs
  src/components/recording.rs
  src/components/ui.rs
  src/errors.rs
  src/gui.rs
  src/lib.rs
  src/main.rs
  src/services.rs
  src/windows_console.rs
  tests/gui_tests.rs
  tests/gui_tests/helpers.rs
  tests/gui_tests/screen_tests.rs
  tests/gui_tests/screenshot.rs
  tests/gui_tests/screenshot_tests.rs
  tests/gui_tests/state_tests.rs
  tests/integration_tests.rs
  tests/property_tests_extended.rs
  tests/property_tests_integration.rs
Due: rust-fmt, rust-clippy, rust-check, rust-test, rust-property-test

feat: 検索ボタン押下後の視覚的フィードバックを追加
  src/gui.rs
  src/services.rs
  src/services_impl.rs
  tests/gui_tests/state_tests.rs
Due: rust-fmt, rust-clippy, rust-check, rust-test, rust-property-test

fix: 録画0件時のpage_size==0によるdebug_assertパニックを修正
  src/components/api.rs
Due: rust-fmt, rust-clippy, rust-check, rust-test, rust-property-test

perf: 録画リスト取得の並列化による高速化
  src/services_impl.rs
Due: rust-fmt, rust-clippy, rust-check, rust-test, rust-property-test

fix: 大容量ファイルのダウンロードが途中で切れる問題を修正
  src/components/download.rs
Due: rust-fmt, rust-clippy, rust-check, rust-test, rust-property-test

fix: 録画リスト取得API(search_recordings)に502/503リトライロジックを追加
  src/components/api.rs
Due: rust-fmt, rust-clippy, rust-check, rust-test, rust-property-test

fix: 429レート制限エラーのリトライ対応とチャンク取得の同時実行数制限
  src/components/api.rs
  src/services_impl.rs
Due: rust-fmt, rust-clippy, rust-check, rust-test, rust-property-test

fix: ページネーション無限ループバグを修正（空文字列next_page_token対応）
  src/components/api.rs
Due: rust-fmt, rust-clippy, rust-check, rust-test, rust-property-test

Path conditions:
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-check: any of: \.rs$
  rust-test: any of: \.rs$
  rust-property-test: any of: \.rs$
  doc-link-check: any of: \.md$
